<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <form class="form-horizontal" action="#" th:action="@{/location/saveLocation}" th:object="${location}" name="input_form" id="input_form"
              method="post" role="form">
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{nameLoc}" placeholder="Enter your location." maxlength="50"/>
                <input type="text" class="form-control" th:field="*{serNumber}" placeholder="Enter your serial number." maxlength="50"/>
                <input type="text" class="form-control" th:field="*{invNumber}" placeholder="Enter your inventory number." maxlength="50"/>
                <div class="form-group">
                    <div class="form-check">
                        <!--<input class="form-check-input" type="checkbox" id="done" th:name="done" />-->
                        <input class="form-check-input" type="checkbox" id="work" th:field="*{workLoc}" value="true"/>
                        <!--<input class="form-check-input" type="checkbox" th:field="*{workLoc}" value="false"/>-->
                        <label class="form-check-label" for="work">
                            В работе?
                        </label>
                    </div>
                </div>
                <p class="message" th:if="${#fields.hasErrors('nameLoc')}" th:errors="*{nameLoc}">Name Error</p>
                <!--<button type="submit" class="btn btn-primary">Submit</button>-->
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="Reset" class="btn btn-primary">Очистить</button>
        </form>
        <a th:href="@{/location/locations}"><button class="btn btn-primary">Отмена</button></a>
    </div>
</div>
</body>
</html>