
<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{fragments/layout}">
<head>
    <title>Добавить единицу измерения СИ</title>
</head>
<div layout:fragment="content">
    <div class="container">
        <h4>Добавить единицу измерения СИ</h4>
        <form class="form-horizontal" action="#" th:action="@{/unit/saveUnit}" th:object="${unit}" name="input_form" id="input_form"
              method="post" role="form">
            <div class="form-group col-md-4">
                <input style="width:50%" type="text" class="form-control" th:field="*{unitName}" placeholder="Enter name unit." maxlength="50"/>
                <p class="message" th:if="${#fields.hasErrors('unitName')}" th:errors="*{unitName}">Unit Error</p>
                <!--                <p><input type="submit" class="btn btn-primary" value="Submit" /> <input type="reset" class="btn btn-primary" value="Reset" /></p>-->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        <a class="btn btn-danger" th:href="@{/unit/units}" role="button">Отмена</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--</body>-->
</html>