<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Еденицы измерения СИ</title>
</head>
    <div layout:fragment="content">
        <div class="container" style="max-width: 50%">
            <h4>Единицы измерений СИ</h4>
    <table style="width:100%" class="table table-bordered table-hover horizontal-align table-responsive">
        <a th:href="@{/unit/addFormUnit}"><button>New</button></a>
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 50%">Еденица измерения СИ</th>
            <th style="width: 5%">Edit</th>
            <th style="width: 5%">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="unit, iterStat : ${listUnits}">
            <td th:text="${iterStat.count}"style="text-align: center">#</td><!-- порядковый номер НЕ ID-->
            <!--<td th:text="${country.idCountry}" style="text-align: center">ID</td>-->
            <td th:text="${unit.unitName}" style="text-align: center">Unit</td>
            <td style="text-align: center"><a th:href="@{/unit/updateFormUnit(idUnit=${unit.idUnit})}"><i class="fa fa-edit" style="font-size:20px"></i></a></td>
            <td style="text-align: center"><a th:href="@{/unit/delete(idUnit=${unit.idUnit})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>