<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<!--<div th:fragment="install">-->
<head>
    <title th:utext="'Установка: ' +${nameLocation}"></title>
</head>
<div layout:fragment="content">

    <div class="row">
    <h3 class="col-md-8" style="margin-top: 2%" th:text= "'Список средств измерений на установке: '+${nameLocation}"/>
            <form th:action="@{/install/installs}">
                <div class="form-group">
                    <div class="controls">
                        <input type="hidden" id="idLocation" name="idLocation" th:value="${idLocation}">
                        <input type="hidden" id="report" name="report" th:value="true">
                    </div>
                </div>
                <div class="col-md-2" style="margin-top: 1%">
                    <button th:type="submit">Сохранить в PDF</button>
                </div>
            </form>
    <a class="col-md-2" style="margin-top: 1%" th:href="@{/install/addFormInstall(idLocation=${idLocation})}"><button>Добавить СИ в установку</button></a>
    </div>
    <table  class="table table-bordered table-hover horizontal-align">
        <!--<form th:action="@{/location/addFormLoc}">-->
            <!--<button type="submit">Кнопка-ссылка</button>-->
        <!--</form>-->
        <thead>
            <th style="width: 2%">#</th>
            <th style="width:15%">Установка</th>
            <th style="width:30%">Средство измерения</th>
            <th style="width:15%">Зав.номер</th>
            <th style="width: 15%">Метрология</th>
            <th style="width: 3%">МПИ</th>
            <th style="width: 10%">Дата след. поверки</th>
<!--            <th style="width: 50%">Поверка</th>-->
            <th sec:authorize="hasRole('ADMIN')"style="width: 5%">Edit</th>
            <th sec:authorize="hasRole('ADMIN')or hasRole('KIP')"style="width: 5%">Delete</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="install, iterStat : ${listInstall}" >
<!--        <tr th:each="install, iterStat : ${listInstall.?[locationId==__${idLocation}__]}" >&lt;!&ndash;убрать сделать через dao&ndash;&gt;-->
            <td th:text="${iterStat.count}"style="text-align: center">#</td><!-- порядковый номер НЕ ID-->
            <td th:text="${install.locationByLocationId.nameLoc}" style="text-align: center">Установка</td>
            <td th:text="${install.modelSensorByModelId.typesensByTypesensId.nameType} +' '+ ${install.modelSensorByModelId.modelName} +' '
                            + ${install.modelSensorByModelId.modelVersion+' '+install.rangeMin+'...'+install.rangeMax+' '+install.unitByUnitId.unitName}"style="text-align: center">Средство измерения</td>
            <td th:text="${install.sensorNumb}" style="text-align: center">Зав.номер</td>
<!--            <td th:text="${install.sensorBySensorId.dateVerification}" style="text-align: center">Дата поверки</td>-->
            <td th:text="${install.intervalVerification} == false? 'КАЛИБРОВКА'+' '+ ${install.dateVerification} :'ПОВЕРКА'+' '+ ${install.dateVerification}"   style="text-align: center">Метрология</td>
            <td th:text="${install.intervalVerification}" style="text-align: center">МПИ</td>
            <td th:text="${install.dateVerification.plusMonths(install.intervalVerification)}"
                th:style="${install.dateVerification.plusMonths(install.intervalVerification+1).isBefore(localDateNow)}==true? 'background: yellow' : 'background: default' "
                style="text-align: center">Дата след. поверки</td>
<!--            <td th:style="${install.sensorBySensorId.verification} == false?  'background: red' : 'background: green' "th:text="${install.sensorBySensorId.verification} == false? 'Калибровка' :'Поверка'" style="text-align: center">Поверка</td>-->
            <td sec:authorize="hasRole('ADMIN')or hasRole('KIP')"style="text-align: center"><a th:href="@{/install/updateFormLocationInstall(idSensor=${install.idSensor})}"><i class="fa fa-edit" style="font-size:20px"></i></a></td>
            <td sec:authorize="hasRole('ADMIN')or hasRole('KIP')"style="text-align: center"><a th:href="@{/install/delete(idSensor=${install.idSensor})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>

        </tr>
        </tbody>
    </table>
</div>
</html>