<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container" sec:authorize="isAuthenticated()">
            <!--            <button class="navbar-toggler" type="button" data-toggle="collapse"-->
            <!--                    data-target="#main-menu" aria-controls="main-menu"-->
            <!--                    aria-expanded="false" aria-label="Toggle navigation">-->
            <!--                <span class="navbar-toggler-icon"></span>-->
            <!--            </button>-->
            <div class="navbar-header">
                <!--             Кнопка «Гамбургер» отображается только в мобильном виде (предназначена для открытия основного содержимого Navbar) -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false"
                        data-target="#main-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/about}">Описание</a>
            </div>
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/install/locationsSelect}">Установки</a>
                    </li>
                    <li><a class="navbar-brand" th:href="@{/sensor/sensors}">Датчики КИП</a></li>
                    <li><a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/archive/archives}">Перемещение</a>
                    </li>
                    <li><a class="navbar-brand" sec:authorize="hasAnyRole('ADMIN','KIP','DBA')"
                           th:href="@{/disposal/viewDisposal}">Архив</a></li>

                    <li class="dropdown" sec:authorize="hasAnyRole('ADMIN','KIP','DBA')">
                        <a href="#" class="navbar-brand" data-toggle="dropdown">Справочники <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" sec:authorize="hasAnyRole('ADMIN','KIP','DBA')" th:href="@{/country/countrys}">Страны</a></li>
                            <li><a href="#" sec:authorize="hasAnyRole('ADMIN','KIP','DBA')" th:href="@{/location/locations}">Установки</a></li>
                            <li><a href="#" sec:authorize="hasAnyRole('ADMIN','KIP','DBA')" th:href="@{/firm/firms}">Фирма изготовитель</a></li>
                            <li><a href="#" sec:authorize="hasAnyRole('ADMIN','KIP','DBA')" th:href="@{/typesens/typesens}">Тип сенсора</a></li>
                            <li><a href="#" sec:authorize="hasAnyRole('ADMIN','KIP','DBA')" th:href="@{/model/modelsensor}">Модель</a></li>
                            <li><a href="#" sec:authorize="hasAnyRole('ADMIN','KIP','DBA')" th:href="@{/unit/units}">Еденицы измерения</a></li>
                            <!--                            <li><a href="#" th:href="@{/sensor/sensors}">Датчики</a></li>-->
                        </ul>
                    </li>
                    <li><a class="navbar-brand" sec:authorize="hasRole('ADMIN')" th:href="@{/user/users}">Users</a></li>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown dropdown-menu-right" sec:authorize="isAuthenticated()">
                            <!--                    <li class="dropdown" sec:authorize="isAuthenticated()">-->
                            <a href="#" class="navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Пользователь: <span sec:authentication="name">User</span><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><a class="font-weight-bold">Пользователь: <span
                                        sec:authentication="name"></span></a></li>
                                <li><a class="font-weight-bold">Доступ: <span
                                        sec:authentication="principal.authorities"></span></a></li>
                                <form th:action="@{/logout}" method="post">
                                    <input type="submit" value="Выход"/>
                                    <!--                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                                </form>
                            </ul>
                        </li>
                    </ul>
                    <!--                <span sec:authorize="isAuthenticated()">Logged user:-->
                    <!--                    <span sec:authentication="name"></span>Roles:-->
                    <!--                    <span sec:authentication="principal.authorities"></span>-->
                    <!--                <a class="nav-link" th:href="@{/logout}">Выход</a>-->
                    <!--            </span>-->
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>