<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <form class="form-horizontal" action="#" th:action="@{/user/editUser}" th:object="${user}" name="input_form"
              id="input_form"
              method="post" role="form">
            <div class="form-group">
                <!--                <input type="hidden" th:name="${edit}" th:value="${edit}"/>-->
                <input type="hidden" id="id" th:name="id" th:value="*{id}"/>
                <div>
                    <label class="form-inline" for="role">Роль пользователя:</label>

                    <select id="role" th:field="*{userProfiles}">
                        <option th:each="roles:${roles}"
                                th:value="${roles.id}"
                                th:utext="${roles.type}"></option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-inline" for="ssoId">Логин:</label>
                        <input type="text" class="form-control" id="ssoId" th:field="*{ssoId}"
                               placeholder="Enter login." maxlength="30"/>
                        <label class="form-check-label" for="firstName">Фамилия:</label>
                        <input type="text" class="form-control" id="firstName" th:field="*{firstName}"
                               placeholder="Enter first name."
                               maxlength="30"/>
                        <label class="form-check-label" for="lastName">Имя:</label>
                        <input type="text" class="form-control" id="lastName" th:field="*{lastName}"
                               placeholder="Enter last name."
                               maxlength="30"/>
                        <label class="form-check-label" for="patronymic">Отчество:</label>
                        <input type="text" class="form-control" id="patronymic" th:field="*{patronymic}"
                               placeholder="Enter patronymic."
                               maxlength="30"/>
                        <label class="form-check-label" for="email">EMAIL:</label>
                        <input type="text" class="form-control" id="email" th:field="*{email}"
                               placeholder="Enter EMAIL."
                               maxlength="30"/>
                        <label class="form-check-label" for="password">Пароль:</label>
                        <input type="text" class="form-control" id="password" th:field="*{password}"
                               placeholder="Enter password."
                               maxlength="100"/>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="enabled" th:field="*{enabled}"
                                   value="true"/>
                            <label class="form-check-label" for="enabled">
                                Включить
                            </label>
                        </div>
                        <p class="error" th:if="${#fields.hasErrors('ssoId')}" th:errors="*{ssoId}">Name Error</p>
                        <p class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name
                            Error</p>
                        <p class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName</p>
                        <p class="error" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">
                            lastName</p>
                        <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{password}">email</p>
                        <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">lastName</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                            <button type="Reset" class="btn btn-primary">Очистить</button>
                            <a class="btn btn-danger" th:href="@{/user/users}" role="button">Отмена</a></div>
                    </div>
                </div>
            </div>
            <!--            <button type="submit" class="btn btn-primary">Сохранить</button>-->
            <!--            <button type="Reset" class="btn btn-primary">Очистить</button>-->
        </form>
        <!--        <a th:href="@{/user/users}">-->
        <!--            <button class="btn btn-primary">Отмена</button>-->
        <!--        </a>-->
    </div>
</div>
</body>
</html>