<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Добавить cтраны производства СИ</title>
</head>
<!--<head th:replace="fragments/head :: head"></head>-->
<!--<body>-->
<div layout:fragment="content">
<!--<div class="container">-->
<!--    <div th:replace="fragments/header :: header"></div>-->
    <div class="container">
        <form class="form-horizontal" action="#" th:action="@{/country/saveCountry}" th:object="${country}" name="input_form" id="input_form"
              method="post" role="form">
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{countryName}" placeholder="Enter your country." maxlength="50"/>
                <p class="message" th:if="${#fields.hasErrors('countryName')}" th:errors="*{countryName}">Name Error</p>
            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">Сохранить</button>
                         <button type="Reset" class="btn btn-primary">Очистить</button>
                        <a class="btn btn-danger" th:href="@{/country/countrys}" role="button">Отмена</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>