<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Редактировать тип СИ</title>
</head>
    <div layout:fragment="content">
    <div class="container">
<h3>Редактировать тип СИ</h3>
        <form class="form-horizontal" th:object="${typesens}" th:action="@{/typesens/saveTypesens}" name="edit_form" id="edit_form"
              method="post" role="form">
            <div class="form-group">
                <input type="hidden" idCountry="idTypesens" th:name="idTypesens" th:value="*{idTypesens}"/>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" idTypesens="idTypesens" th:name="nameType" th:value="*{nameType}" maxlength="100"/>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        <!--                        <button type="Reset" class="btn btn-primary">Очистить</button>-->
                        <a class="btn btn-danger" th:href="@{/typesens/typesens}" role="button">Отмена</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<!--</body>-->
</html>