<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">

        <form class="form-horizontal" th:object="${typesens}" th:action="@{/typesens/saveTypesens}" name="edit_form" id="edit_form"
              method="post" role="form">
            <div class="form-group">
                <input type="hidden" idCountry="idTypesens" th:name="idTypesens" th:value="*{idTypesens}"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" idTypesens="idTypesens" th:name="nameType" th:value="*{nameType}" maxlength="100"/>
            </div>
<!--            <div class="form-group">-->
<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="checkbox" id="done" th:name="done" />-->
<!--                    <label class="form-check-label" for="done">-->
<!--                        Done?-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a th:href="@{/typesens/typesens}"><button class="btn btn-primary">Отмена</button></a>
        </form>
    </div>
</div>
</body>
</html>