<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--<title>Getting Started: Handing Form Submission</title>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--</head>-->
<!--<body>-->
<!--<h1>Form</h1>-->
<!--<form action="#" th:action="@{/country/saveCountry}" th:object="${country}" method="post">-->
<!--&lt;!&ndash;<p>Id: <input type="text" th:field="*{idCountry}" /></p>&ndash;&gt;-->
<!--<p>Message: <input type="text" th:field="*{countryName}" /></p>-->
<!--<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Добавить тип СИ</title>
</head>
<div layout:fragment="content">
    <div class="container">
        <h3>Добавление нового типа СИ</h3>
        <form class="form-horizontal" action="#" th:action="@{/typesens/saveTypesens}" th:object="${typesens}" name="input_form" id="input_form"
              method="post" role="form">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" th:field="*{nameType}" placeholder="Enter name type." maxlength="50"/>
                <p class="message" th:if="${#fields.hasErrors('nameType')}" th:errors="*{nameType}">Name Error</p>
                <!--                <p><input type="submit" class="btn btn-primary" value="Submit" /> <input type="reset" class="btn btn-primary" value="Reset" /></p>-->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">Сохранить</button>
<!--                        <button type="Reset" class="btn btn-primary">Очистить</button>-->
                        <a class="btn btn-danger" th:href="@{/typesens/typesens}" role="button">Отмена</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
<!--</body>-->
</div>
</html>