<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Добавить фирму изготовитель СИ</title>
</head>
<!--<head th:replace="fragments/head :: head"></head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <div th:replace="fragments/header :: header"></div>-->
<div layout:fragment="content">
    <div class="container">
        <form class="form-horizontal" action="#" th:action="@{/firm/saveFirm}" th:object="${firm}" name="input_form" id="input_form"
              method="post" role="form">
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{nameFirm}" placeholder="Enter name firm." maxlength="50"/>
                <p class="message" th:if="${#fields.hasErrors('nameFirm')}" th:errors="*{nameFirm}">Name Error</p>
                <!--                <p><input type="submit" class="btn btn-primary" value="Submit" /> <input type="reset" class="btn btn-primary" value="Reset" /></p>-->
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="Reset" class="btn btn-primary">Очистить</button>
        </form>
        <a th:href="@{/firm/firms}"><button class="btn btn-primary">Отмена</button></a>
    </div>
</div>
<!--</body>-->
</html>