<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{fragments/layout}">
<head>
    <title>Denied</title>
</head>
<div layout:fragment="content">
<div class="container">
    <div class="starter-template">
        <h1>403 - Access is denied</h1>
        <div th:inline="text"><span>Пользователь '[[${#httpServletRequest.remoteUser}]]',
            доступ к этой странице(действию) Вам не разрешен.</span></div>
    </div>
</div>
</div>
</html>