<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="disposal">
    <div class="row">
        <form th:action="@{/disposal/viewDisposal}">
            <div class="form-group">
                <div class="controls col-sm-2 ">
<!--                    <label class="control-label control-label-left col-sm-2"-->
<!--                           for="model">S/N:</label>-->
<!--                    <select class="form-control" th:id="number" th:name="number">-->
<!--                        <option value="">&#45;&#45;</option>-->
<!--                        <option th:each="number : ${numberSensor}"-->
<!--                                th:value="${number}"-->
<!--                                th:utext="${number}"/>-->
<!--                    </select>-->
<!--                </div>-->
                <label for="number">Поиск по s/n:</label>
                <input class="form-control" list="number" name="number">
                <datalist id="number">
                        <option th:each="numbers: ${numberSensor}" th:text="${numbers}"th:value=" ${numbers}"></option>
                </datalist>
                </div>
            </div>
            <div class="col-sm-4">
                <button th:type="submit">Применить</button>
                <a th:href="@{/disposal/viewDisposal}"><button>Сбросить</button></a>
            </div>
        </form>
    </div>
    <div class="row">
        <form th:action="@{/disposal/viewDisposal}">
            <div class="form-group">
                <div class="controls col-sm-2 ">
                    <input type="hidden" id="number" name="number" th:value="${findNumber}">
                    <input type="hidden" id="report" name="report" th:value="true">
                </div>
            </div>
            <div class="col-sm-4">
                <button th:type="submit">PDF</button>
            </div>
        </form>
    </div>
    <h3 th:text="${findNumber}==null? 'Архив перемещения утилизированных датчиков :':'Архив перемещения датчика s/n: '+${findNumber}"/>

    <table  class="table table-bordered table-hover horizontal-align">
        <!--<form th:action="@{/location/addFormLoc}">-->
            <!--<button type="submit">Кнопка-ссылка</button>-->
        <!--</form>-->
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width:20%">Средство измерения</th>
            <th style="width:20%">Зав.номер</th>
            <th style="width: 20%">Инв.номер</th>
            <th style="width: 50%">Дата перемещений</th>
            <th style="width: 80%">Примечание</th>
            <th style="width: 50%">Дата удаления</th>
            <th sec:authorize="hasRole('ADMIN')" style="width: 5%">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="disposal, iterStat : ${listDisposal}" >
<!--        <tr th:each="install, iterStat : ${listInstall.?[locationId==__${idLocation}__]}" >&lt;!&ndash;убрать сделать через dao&ndash;&gt;-->
            <td th:text="${iterStat.count}"style="text-align: center">#</td><!-- порядковый номер НЕ ID-->
            <td th:text="${disposal.typeSensor}+' '+${disposal.modelSensor}+' '+${disposal.versionSensor}" style="text-align: center">Средство измерения</td>
            <td th:text="${disposal.numberSensor}"style="text-align: center">Зав.номер</td>
            <td th:text="${disposal.inventoryNumberSensor}" style="text-align: center">Инв.номер</td>
            <td th:text="${#temporals.format(disposal.dateArchive,'dd-MM-yyyy HH:mm:ss')}" style="text-align: center">Дата перемещений</td>
            <td th:text="${disposal.note}" style="text-align: center">Примечание</td>
            <td th:text="${#temporals.format(disposal.dateDisposal,'dd-MM-yyyy HH:mm:ss')}" style="text-align: center">Дата удаления</td>
<!--            <td th:style="${install.sensorBySensorId.verification} == false?  'background: red' : 'background: green' "th:text="${install.sensorBySensorId.verification} == false? 'Калибровка' :'Поверка'" style="text-align: center">Поверка</td>-->
<!--            <td style="text-align: center"><a th:href="@{/install/updateFormLocationInstall(idLocationInstall=${install.idLocationInstall})}"><i class="fa fa-edit" style="font-size:20px"></i></a></td>-->
            <td sec:authorize="hasRole('ADMIN')"style="text-align: center"><a th:href="@{/disposal/delete(idDisposal=${disposal.idDisposal})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>
    </tr>
        </tbody>
    </table>
</div>
</html>